* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

body {
  background-color: #0e131f;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}
nav img {
  width: 5rem;
}

.primary-color-scheme {
  background-color: #454954;
  color: #b9bdc6;
}
.primary-color-scheme .stroke > path {
  stroke: #8f95a3;
}
.primary-color-scheme .fill > path {
  fill: #8f95a3;
}

.secondary-color-scheme {
  background-color: #1d2435;
  color: #818898;
}
.secondary-color-scheme .stroke > path {
  stroke: #676e7e;
}
.secondary-color-scheme .fill > path {
  fill: #676e7e;
}

.fadeout-1-input {
  background-color: #292f3d;
  color: #5c6270;
}
.fadeout-1-input .stroke > path {
  stroke: #454954;
}
.fadeout-1-input .fill > path {
  fill: #454954;
}

.fadeout-2-input {
  background-color: #141926;
  color: #212633;
}
.fadeout-2-input .stroke > path {
  stroke: #1b202c;
}
.fadeout-2-input .fill > path {
  fill: #1b202c;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
}
.input-container .label {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.input-container .label .label-text {
  font-size: 0.6875rem;
  color: #454954;
}
.input-container .dropdown-element {
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.875rem;
  transition: all 350ms ease-out;
}
.input-container .dropdown-options-container {
  display: flex;
  gap: 0.375rem;
  align-items: flex-start;
}
.input-container .dropdown-options {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.input-container .dropdown-options .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#dateAndSortContainer {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
#dateAndSortContainer #sortContainer {
  align-items: flex-end;
}
#dateAndSortContainer #sortContainer #sortAndOrderContainer {
  display: flex;
  gap: 0.625rem;
}
#dateAndSortContainer #sortContainer #sortAndOrderContainer #changeOrderButton {
  padding: 0.75rem;
  width: 2.75rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}
#dateAndSortContainer #sortContainer #sortAndOrderContainer #changeOrderButton .icon-line {
  background-color: #818898;
  border-radius: 1rem;
  height: 0.2rem;
  transition: width 200ms ease-out;
}
#dateAndSortContainer #sortContainer #sortAndOrderContainer #changeOrderButton .icon-line:nth-of-type(1) {
  width: 100%;
}
#dateAndSortContainer #sortContainer #sortAndOrderContainer #changeOrderButton .icon-line:nth-of-type(2) {
  width: 66%;
}
#dateAndSortContainer #sortContainer #sortAndOrderContainer #changeOrderButton .icon-line:nth-of-type(3) {
  width: 33%;
}
#dateAndSortContainer #sortContainer #sortAndOrderContainer #changeOrderButton .ascOrder:nth-of-type(1) {
  width: 33%;
}
#dateAndSortContainer #sortContainer #sortAndOrderContainer #changeOrderButton .ascOrder:nth-of-type(2) {
  width: 66%;
}
#dateAndSortContainer #sortContainer #sortAndOrderContainer #changeOrderButton .ascOrder:nth-of-type(3) {
  width: 100%;
}

#movieCardsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
#movieCardsContainer .movieCard {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  /*
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://a.ltrbxd.com/resized/sm/upload/22/gj/k3/ql/spider-verse-960-960-540-540-crop-000000.jpg?v=259dfdc695");
  */
  background-size: cover;
  background-position: top;
  box-shadow: 0.375rem 0.375rem 0.25rem rgba(0, 0, 0, 0.25);
}
#movieCardsContainer .movieCard .movieCardHeading .movieTitle {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
}
#movieCardsContainer .movieCard .movieCardHeading .movieStats {
  display: flex;
  align-items: center;
  column-gap: 0.375rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #9d9d9d;
}
#movieCardsContainer .movieCard .movieCardHeading .movieStats .ratingIconAndValue {
  display: flex;
  align-items: center;
  column-gap: 0.1875rem;
}
#movieCardsContainer .movieCard .movieCardHeading .movieStats .ratingIconAndValue > img {
  height: 1rem;
}
#movieCardsContainer .movieCard .movieCardInfo {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}
#movieCardsContainer .movieCard .movieCardInfo .infoContainer .infoLabel {
  color: #cdcdcd;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
#movieCardsContainer .movieCard .movieCardInfo .infoContainer .infoText {
  color: #9d9d9d;
  font-size: 0.75rem;
  font-weight: 400;
  margin-left: 0.75rem;
}
#movieCardsContainer .movieCard .movieCardInfo .trailerButton {
  text-decoration: none;
  padding: 0.375rem 0.875rem;
  border-radius: 0.25rem;
  background-color: #19284d;
  color: #b8c4e0;
  font-size: 0.875rem;
  font-weight: 600;
}
#movieCardsContainer .movieCard .movieCardPerformancesContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
#movieCardsContainer .movieCard .movieCardPerformancesContainer .performanceslabel {
  color: #7d7d7d;
  font-size: 0.625rem;
}
#movieCardsContainer .movieCard .movieCardPerformancesContainer .performanceList {
  display: flex;
  column-gap: 0.5rem;
}
#movieCardsContainer .movieCard .movieCardPerformancesContainer .performanceList .performanceCard {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 0.5px solid #14171f;
  background: #0e131f;
  text-align: center;
}
#movieCardsContainer .movieCard .movieCardPerformancesContainer .performanceList .performanceCard .performanceTime {
  margin-bottom: 0.5rem;
  color: #cdcdcd;
  font-size: 0.75rem;
}
#movieCardsContainer .movieCard .movieCardPerformancesContainer .performanceList .performanceCard .performanceFeature {
  color: #6d6d6d;
  font-size: 0.625rem;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
