* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: #0e131f;
  padding: 1rem;
  max-width: 45rem;
  margin: auto;
}
.primary-color-scheme {
  background-color: #454954;
  color: #c7cad1;
}
.primary-color-scheme .checkbox {
  border-color: #5c6270;
}
.primary-color-scheme .stroke > path {
  stroke: #c7cad1;
}
.primary-color-scheme .fill > path {
  fill: #c7cad1;
}

.secondary-color-scheme {
  background-color: #1d2435;
  color: #abafba;
}
.secondary-color-scheme .stroke > path {
  stroke: #abafba;
}
.secondary-color-scheme .fill > path {
  fill: #abafba;
}

.fadeout-1-input {
  background-color: #292f3d;
  color: #5c6270;
}
.fadeout-1-input .checkbox {
  border-color: #5c6270;
}
.fadeout-1-input .stroke > path {
  stroke: #5c6270;
}
.fadeout-1-input .fill > path {
  fill: #5c6270;
}

.fadeout-2-input {
  background-color: #141926;
  color: #212633;
}
.fadeout-2-input .stroke > path {
  stroke: #212633;
}
.fadeout-2-input .fill > path {
  fill: #212633;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
}
.input-container .label {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.input-container .label .label-text {
  font-size: 0.6875rem;
  color: #767d8f;
}
.input-container .dropdown-element {
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.875rem;
  transition: all 350ms ease-out;
}
.input-container .dropdown-options-container {
  display: flex;
  gap: 0.375rem;
  align-items: flex-start;
}
.input-container .dropdown-options {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.input-container .dropdown-suboptions {
  /* flex-shrink: 1; */
}
.input-container .dropdown-options .expandable-option {
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.input-container .dropdown-options .option {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.input-container .dropdown-options .option p {
  flex: 1;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.input-container .dropdown-options .selected {
  color: #e8c547;
}
.input-container .dropdown-options .selected .checkbox {
  background-color: #e8c547;
}

.input-container .dropdown-options .checkbox {
  display: flex;
  justify-content: center;
  margin-right: 0.75rem;
  border: 0.125rem solid;
  border-radius: 0.125rem;
}
.input-container .dropdown-options .checkbox img {
  width: 0.75rem;
}
